<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Responsi - Text Summarization</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#"><span>Responsi PBA 2022</span> </a>
            
        </div>
    </nav>
    <div class="features-blue" style="height:157px;">
        <div class="container" style="height:73px;">
            <div class="intro" style="height:85px;">
                <h2 class="text-center" style="height:45px;">Text Summarization</h2>
                <p class="text-center">Helps you summary any given text on any websites.</p>
            </div>
        </div>
    </div>
    <div class="newsletter-subscribe">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="POST">
                        <div class="form">
                            <br><br>
                            <label for="url"><strong>Enter the url you'd like to summary :</strong></label>
                            <br>
                            <input type = "text" name="url" id = "url">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary mb-2" name="submit" id="submit">Summary</button>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item" style="width: 293px;">
                        <h3></h3>
                    </div>
                    <div class="col-sm-6 col-md-3 item text">
                        <h3>Slot</h3>
                            <p>Rabu 15.00</p>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Data Praktikan</h3>
                        <p>Orchidia Angelica Puspa Nirmala
                            <br>
                            1900018304
                            <br>
                            Kelas B
                        </p>
                    </div>
                </div>
                <p class="copyright">Text Summarization © 2022</p>
            </div>
        </footer>
    </div>
</div>
<script src="static/js/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>